.txtSearch {
  font-weight: bold;
}

.inputCep {
  margin: 0 20px;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  width: 150px;
}

.btn {
  background-color: #4169e1;
  cursor: pointer;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding:7px 10px;
  border-radius: .25rem;
  font-size: 14px;
}